*.root
*.evio
*.hipo
*.pdf
*.txt
*.*~
*.txt
*.png
*.jpeg
*.lund
*.dat
*.so
*.class
*.clara
*.evt
*.inp
*.o
*.jsub
*.gcard
*.jar
*.pcm
*.d
*#
*.jsub
*.run
*.clara
data/
simulation/
batch_jobs/
coatjava-*/